#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY=''
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]

{# 
DEFAULT_FILE_STORAGE = 'storages.backends.s3boto3.S3Boto3Storage'
AWS_ACCESS_KEY_ID = 'your_aws_access_key_id'
AWS_SECRET_ACCESS_KEY = 'your_aws_secret_access_key'
AWS_STORAGE_BUCKET_NAME = 'your_aws_s3_bucket_name' #}